.btn {
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none !important;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all, .25s;

}
