.hello-world__block {
  width: 100%;
  display: flex;
  justify-content: center;

  h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: $red;
  }
}

@media only screen and (max-width : 767px) {
  .hello-world__block {
    h2 {
      font-size: 28px;
    }
  }
}
