body {
  font-family: Helvetica, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width : 1199px) {
  .container {
    width: 90vw;
  }
}

.page-main__body {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e0e0e0;
    z-index: 2;
  }

  h1 {
    font-size: 54px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 75px;
    text-align: center;
  }

  ul {
    li {
      margin: 20px 0;

      a {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        color: #c0c0c0;
        text-decoration: none;
        transition: all, .25s;

        &::after {
          content: '';
          display: block;
          width: 0%;
          height: 2px;
          background: $red;
          margin: 0 auto;
          transition: all, .25s;
        }

        &:hover {
          color: $red;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .page-main__body {
    h1 {
      font-size: 50px;
      margin-top: 90px;
      margin-bottom: 70px;
    }

    ul {
      li {
        a {
          font-size: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .page-main__body {
    h1 {
      font-size: 42px;
      margin-top: 75px;
      margin-bottom: 50px;
    }

    ul {
      li {
        margin: 15px 0;

        a {
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .page-main__body {
    h1 {
      font-size: 34px;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    ul {
      li {
        margin: 12px 0;

        a {
          font-size: 20px;
        }
      }
    }
  }
}
